@media (max-width: 768px) {

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    max-width: 250px;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .nav {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}