/* HERO */
.sobre-hero {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
}

.sobre-hero h1 {
  color: #d4af37;
  font-size: 32px;
}

/* CONTAINER */
.sobre-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.sobre-texto h2 {
  color: #d4af37;
  margin-bottom: 20px;
}

.sobre-texto p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* FUNDADORES */
.fundadores {
  text-align: center;
  padding: 50px 20px;
}

.fundadores h2 {
  color: #d4af37;
  margin-bottom: 30px;
}

.fundadores-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.fundador-card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

.fundador-card img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.fundador-card h3 {
  color: #fff;
}

.fundador-card p {
  font-size: 14px;
  color: #aaa;
}

/* VALORES */
.valores {
  padding: 50px 20px;
  text-align: center;
}

.valores h2 {
  color: #d4af37;
  margin-bottom: 30px;
}

.valores-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.valor {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

.valor h3 {
  color: #d4af37;
}

.valor p {
  color: #aaa;
}
#sobre-hero {
  text-align: center;
}

#sobre-hero img {
  display: block;
  margin: 20px auto;
  max-width: 300px;
  max-height: auto;
}